/* Fuente google font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos generales */

:root {
    --main-color: #efebe5;
    --card-white: #f7f7f7;
    --black-color: #000;
    --border-radius: 10px;
    --box-shadow: #e5c697;
    --brown-color: #6a5139;
    --frutas-color: #00bf63;
    --varios-color: #38b6ff;
    --dulces-color: #ff751f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

h1{
    font-size: 80px;
    font-weight: 400;
}

footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
}

/* Estilos navbar hamburguesa */

.nav-list, #menu, .logo{
    display: none;
}

input:checked ~ .nav-list{
    display: flex;
    flex-direction: column;
}

.navigation {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--main-color);
    padding: 10px;
}

.navigation li {
    list-style: none;
    margin-bottom: 10px;
}

.navigation a {
    border: 2px solid var(--black-color);
    color: var(--black-color);
    padding: 3px 20px 3px 20px;
    font-size: 20px;
}

.navigation a:hover {
    background-color: var(--black-color);
    color: var(--main-color);
}

/* Estilos index.html componentes específicos */

.index-body {
    background-image: url('../assets/fondo-web.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.index-main {
    flex: 1;
    color: var(--main-color);
    margin: 150px 0;
}

.index-flex-cards{
    display: flex;
    justify-content: center;
    gap:30px;
    font-size: 3dvh;
    margin-top: 50px;
}

.index-flex-cards article{
    display: flex;
    border: 1px solid var(--main-color);
    padding: 10px 50px;
    flex-direction: column;
}

.index-flex-cards article:hover{
    scale: 1.1;
    box-shadow: 0 0 30px 5px var(--box-shadow);
    transition: scale 0.3s ease;
}

.index-title, .index-subtitle{
    text-align: center;
}

.index-subtitle {
    letter-spacing: 4px;
    word-spacing: 10px;
    font-weight: 500;
}

/* Estilos puestos.html */

.puestos-main h1{
    text-align: center;
    font-weight: bold;
}

.filter-select{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 20px;
}
.filter-select select{
    padding: 10px;
    font-size: 16px;
    background-color: var(--card-white);
    border-radius: var(--border-radius);
    border: none;
}

.puestos-grid-section{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 400px);
    margin: 0 auto;
    padding: 50px 0;
    gap: 4rem;
}

.puestos-grid-section article{
    padding: 30px;
    background-color: var(--card-white);
    border-radius: var(--border-radius);
    border: 1px solid var(--box-shadow);
}

.puestos-grid-section article:hover{
    scale: 1.1;
    box-shadow: 0 0 30px 2px var(--box-shadow);
    transition: scale 0.3s ease;
}

.puestos-grid-section ul span{
    font-weight: bold;
}

.puestos-grid-section h2, .puestos-grid-section h3 {
    text-align: center;
}

.puestos-grid-section h3{
    padding: 10px 0 20px 0;
}

.puestos-grid-section img{
    border-radius: var(--border-radius);
    width: 100%;
}

.puestos-grid-section button{
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 30px
}

.puestos-grid-section button:hover{
    background-color: var(--black-color);
    color: var(--main-color);
}

.puestos-grid-section div{
    margin: 10px auto;
    text-align: center;
}

.puestos-grid-section div span{
    color: var(--main-color);
    position: relative;
    left: 50px;
    border-radius: var(--border-radius);
    padding: 5px;
    font-weight: bold;
}

.carne{
    background-color: var(--brown-color);
}
.fruta{
    background-color: var(--frutas-color);
}
.varios{
    background-color: var(--varios-color);
}
.dulces{
    background-color: var(--dulces-color);
}

/*Estilos contacto*/
.contacto-main h1{
    text-align: center;
    font-weight: bold;
}

.contact-form{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.contact-form section{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.contact-form label{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea{
    border-radius: var(--border-radius);
    border: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.contact-form textarea{
    font-family: inherit;
    resize: none;
}

.contact-form input:focus, .contact-form textarea:focus{
    outline: none;
    border:1px solid var(--brown-color);
    box-shadow: 0 0 30px 2px var(--box-shadow);
    transition: border 0.3s ease, box-shadow 0.5s ease;
}

.contact-form .acept-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-form .acept-row .acept-label{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}

#acept{
    accent-color: var(--box-shadow);
    padding: 10px;
    width: 30px;
    height: 30px;
}

.contact-form button{
    font-size: 20px;
    font-family: inherit;
    padding: 10px;
    font-weight: bold;
    color: var(--main-color);
    background-color: var(--brown-color);
    border-radius: var(--border-radius);
    border: none;
}

.contact-form button:hover{
    background-color: var(--black-color);
}



/* Media query mobile first */

@media (min-width: 768px) {

    /* Menú navegación pantallas grandes*/

    .burger-menu {
        display: none;
    }

    .logo {
        display: block;
        margin: 2px 50px 2px 0px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        width: 30%;
        align-items: center;
        border-radius: var(--border-radius);
        margin: 10px auto 0 auto;
        flex-wrap: wrap;
        padding: 3px;
    }

    input:checked ~ ul{
        flex-direction: row;
    }

    .navigation ul {
        display: flex;
        flex-wrap: wrap;
    }

    .navigation li {
        margin: 5px;
    }
}