/* Fuente google font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos generales */

:root {
    --main-color: #efebe5;
    --card-white: #f7f7f7;
    --black-color: #000;
    --border-radius: 10px;
    --box-shadow: #e5c697
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
}

/* Estilos navbar hamburguesa */

.nav-list, #menu, .logo{
    display: none;
}

input:checked ~ .nav-list{
    display: flex;
    flex-direction: column;
}

.navigation {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--main-color);
    padding: 10px;
}

.navigation li {
    list-style: none;
    margin-bottom: 10px;
}

.navigation a {
    border: 2px solid var(--black-color);
    color: var(--black-color);
    padding: 3px 20px 3px 20px;
    font-size: 20px;
}

.navigation a:hover {
    background-color: var(--black-color);
    color: var(--main-color);
}

/* Estilos index.html componentes específicos */

.index-body {
    background-image: url('../assets/fondo-web.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.index-main {
    flex: 1;
    color: var(--main-color);
    margin: 150px 0;
}

.index-flex-cards{
    display: flex;
    justify-content: center;
    gap:30px;
    font-size: 3dvh;
    margin-top: 50px;
}

.index-flex-cards article{
    display: flex;
    border: 1px solid var(--main-color);
    padding: 10px 50px;
    flex-direction: column;
}

.index-flex-cards article:hover, article:hover a{
    background-color: var(--main-color);
    color: var(--black-color);
}

.index-title, .index-subtitle{
    text-align: center;
}

.index-title {
    font-size: 80px;
    font-weight: 400;
}

.index-subtitle {
    letter-spacing: 4px;
    word-spacing: 10px;
    font-weight: 500;
}

/* Estilos puestos.html */

.puestos-grid-section{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    margin: 0 auto;
    padding: 30px 0;
    gap: 3rem;
}

.puestos-grid-section article{
    padding: 30px;
    background-color: var(--card-white);
    border-radius: var(--border-radius);
    box-shadow: 0 0 30px 5px var(--box-shadow);
}

/* Media query mobile first */

@media (min-width: 768px) {

    /* Menú navegación pantallas grandes*/

    label {
        display: none;
    }

    .logo {
        display: block;
        margin: 2px 50px 2px 0px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        width: 30%;
        align-items: center;
        border-radius: var(--border-radius);
        margin: 10px auto 0 auto;
        flex-wrap: wrap;
        padding: 3px;
    }

    input:checked ~ ul{
        flex-direction: row;
    }

    .navigation ul {
        display: flex;
        flex-wrap: wrap;
    }

    .navigation li {
        margin: 5px;
    }
}