* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 1rem auto;
    text-align: center;
}

h1{
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

input {
    padding: 1rem;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    border: none;
    margin: 20px 1rem;
}

#add-note {
    background-color: blue;
    color: white;
    padding: 8px;
    font-weight: bold;
    font-size: inherit;
    border: none;
    border-radius: 5px;
    margin: 1rem auto;
}

#add-note:hover {
    background-color: darkblue;
}

#list-container{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}

ol{
    width: max-content;
    background-color: white;
}

li{
    list-style: inside decimal;
    margin-bottom: 1rem;
    font-weight: 600;
}

#warn {
    background-color: lightgoldenrodyellow;
    color: rgba(144, 103, 2, 0.959);
    font-weight: bold;
    border: solid 1px yellow;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.del-note {
    background-color: rgb(238, 0, 0);
    color: white;
    padding: 8px;
    font-weight: bold;
    font-size: inherit;
    border: none;
    border-radius: 5px;
    margin: 2px 2px;
}
